<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" href="style_reg.css">
</head>
<body>
    <form action="">
        <h1 title="Форма регистрации на"> Регистрация</h1>
        <div class="group">
            <label for = "">Имя пользователя:</label>
            <input type="text">
        </div>
        <div class="group">
            <label for = "">Пароль:</label>
            <input type="text">
        </div>
        <div class="group">
            <label for = "">Пароль ещё раз:</label>
            <input type="password">
        </div>
        <div class="group">
            <label for = "">Электронная почта:</label>
            <input type="password">
        </div>
        <div class="group">
            <center><button>Регистрация</button></center>
        </div>
    </form>
</body>
</html>